* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

/*  .gb {
    border: 1px solid red;
}    */


.windowBarrier {
    width: 100svw;
    height: 100svh;
    position: absolute;
    position: fixed;
    top: 0%;
    left: 0%;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}


.redditDetailWindow {
    width: 700px;
    height: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}
.closeBtnCon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.closeBtn {
    width: 70%;
    height: 60px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: #FF6B6B;
    color: #005792;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}
.commentsSection {
    margin-top: 30px;
    padding: 10px;
}









.redditDetail {
    margin-top: 30px;
    width: 700px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 10px;
}
.votesColumn {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.redditColumn {
    width: 80%;
}


.arrowUp {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: none;

}
.arrowUp svg {
    width: 100%;
    height: 100%;
    color: #005792;
}

.votes {
    margin-top: 10px;
    font-weight: 700;
    color:#005792;
}

.arrowDown {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: none;

}
.arrowDown svg {
    width: 100%;
    height: 100%;
    color: #005792;
}


.redditInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
.redditUser {
    font-weight: 700;
    color:#005792;
}
.redditTimePosted {
    font-weight: 400;
    font-size: 13px;
    color: #80abc9;
}