* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

/*  .gb {
    border: 1px solid red;
}    */


.windowBarrier {
    width: 100svw;
    height: 100svh;
    position: absolute;
    position: fixed;
    top: 0%;
    left: 0%;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}


.redditDetailWindow {
    width: 700px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}
.closeBtnCon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.closeBtn {
    width: 70%;
    height: 60px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: #FF6B6B;
    color: #005792;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}
.commentsSection {
    margin-top: 30px;
    padding: 10px;
}