* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

 
/* .gb {
    border: 1px solid red;
}    */

.srManagerCon {
    margin: 0 auto;
    width: 100%;
}
.mySubredditsCon {
    width: 100%;
}
.mySubredditsH2 {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 25px;
    color: #005792;
}
.mySubreddits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
}

.addSubredditsBtn {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FF6B6B;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.addSubredditsBtn svg {
    color: white;
    width: 40%;
    height: 40%;
}
.addSubredditsBtn p {
    color: white;
    font-size: 18px;
    padding-top: 20px;
}


.searchSubredditsCon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submitSearchSubredditsBtn {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF6B6B;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}
.submitSearchSubredditsBtn svg {
    width: 80%;
    height: 80%;
    color: white;
}

.searchedSubreddits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;;
    margin-top: 35px;
}

.searchSubredditsH2 {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 25px;
    color: #005792;
}


@media only screen and (max-width: 740px) {
    .mySubreddits {
        gap: 15px;
        padding: 15px;
    }
    .searchedSubreddits {
        gap: 15px;
        padding: 15px;
    }
}