* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

/* 
  .gb {
    border: 1px solid red;
}    
 */

/* NAV SUBREDDITS / TOPICS COMPONENT */
 .swiper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  justify-content: space-between;
}
.swiperSlide {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#topicIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#topicIcon svg {
    width: 100%;
    height: 100%;
    color: #FF6B6B;
}
#topicIcon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#topic h3 {
    color: #DAF6FB;
    font-size: 14px;
}
.activeNavLink {
    font-weight: 700;
}
.inactiveNavLink {
    font-weight: 100;
}


#btnPrev,
#btnNext {
    color: #DAF6FB;
    width: 25px;
    height: 25px;
    background-color: #FF6B6B;
    border: none;
    border-radius: 50%;
}

#btnPrev::after,
#btnNext::after {
    font-size: 12px;
    font-weight: 700;
}