* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

/*    .gb {
    border: 1px solid red;
}   */

@keyframes blendShift {
    0% {
        opacity: 0;
        top: -50px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

.reddit {
    margin-top: 30px;
    width: 700px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    position: relative;
    top: -50px; /* Start position above the original position */
    animation: blendShift 0.5s ease-out forwards;
}
.votesColumn {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.redditColumn {
    width: 80%;
}
.rightColumn {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.arrowUp {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
}
.arrowUp svg {
    width: 100%;
    height: 100%;
    color: #005792;
}

.votes {
    margin-top: 10px;
    font-weight: 700;
    color:#005792;
}




.redditInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
.redditUser {
    font-weight: 700;
    color:#005792;
}
.redditTimePosted {
    font-weight: 400;
    font-size: 13px;
    color: #80abc9;
}

.commentsButton {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.commentsButton svg {
    width: 100%;
    height: 100%;
    color: #FF6B6B;
    scale: 1;
    transition: scale 0.3s linear;
}
/* The @media (hover: hover) query is used to apply hover 
styles only on devices that support hovering (like desktops with a mouse). 
Touchscreen devices typically have hover: none, meaning hover effects won't 
apply there. */
@media (hover: hover) {
    .commentsButton svg:hover {
        scale: 0.8;
        transition: scale 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
}

.commentsButton svg:active {
    opacity: 50%;
}


.selftextContent {
    margin-top: 10px;
}



.externalContent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    padding: 10px;
    background-color: #FEE;
    border-radius: 20px;
    color: #005792;
    word-break: break-word; 
}
.externalContent p {
    font-size: 14px;
    padding-left: 10px;
    
}

.externalContent img {
    border-radius: 20px;
    display: block;
}



.imgContent {
    width: 100%;
    padding-top: 10px;
}
.imgContent img {
    max-width: 100%;
    max-height: 90svh;
    border-radius: 10px;
}
.videoContent {
    max-width: 100%;
    max-height: 80svh;
    margin-top: 10px;
    border-radius: 10px;
}



@media only screen and (max-width: 740px) {
    .reddit {
        width: 95%;
        margin-top: 13px;
    }
}
@media only screen and (max-width: 640px) {
    .arrowUp {
        margin-top: 10px;
        width: 20px;
        height: 20px;
    }
    .votes {
        margin-top: 5px;
        font-size: 12px;
    }
    .commentsButton {
        width: 30px;
        height: 30px;

    }
    .redditTimePosted {
        font-size: 9px;
    }
}

@media only screen and (max-width: 560px) {
    .votesColumn {
        width: 12%;
    }   
    .redditColumn {
        width: 76%;
    }
    .rightColumn {
        width: 12%;
    }
    .redditInfo {
        height: 30px;
    }
    .redditUser {
        font-size: 14px;
    }
    .redditContent {
        font-size: 14px;
    }
    .externalContent {
        margin-top: 5px;
        padding: 5px;
    }
    .externalContent p {
        font-size: 10px;
        padding-left: 5px;
    }
    .externalContent img {
        border-radius: 20px;
        display: block;
    }


}



