* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}


/*  .gb {
    border: 1px solid red;
}     */

@keyframes rotatingIcon {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes blendShift {
    0% {
        opacity: 0;
        margin-top: -50px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}


header {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #005792;
    margin-top: -50px; /* Start position above the original position */
    animation: blendShift 0.5s ease-out forwards;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mainLine {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}


/*HEADLINE COMPONENT *//*HEADLINE COMPONENT *//*HEADLINE COMPONENT */
#headline {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF6B6B;
}
#logo {
    width: 45px;
    height: 45px;

}
#logo svg {
    width: 100%;
    height: 100%;
}
h1 {
    font-family: "Zain", sans-serif;
    padding: 5px;
    font-size: 33px;
    color: white;
    text-align: right;
}
h1 span {
    font-family: "Zain", sans-serif;
    color: #FF6B6B;
    font-size: 33px;
}




/* NAV SWIPER SUBREDDITS */
#middleCon {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightCon {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.inactiveSubredditsManagerBtn,.activeSubredditsManagerBtn {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    transition: all 0.5s ease;
    
}
.inactiveSubredditsManagerBtn svg,.activeSubredditsManagerBtn svg {
    width: 100%;
    height: 100%;
    color: #FF6B6B;
}
.inactiveSubredditsManagerBtn svg:hover {
    color: #DAF6FB;
    animation: rotatingIcon 2s linear infinite;
}
.inactiveSubredditsManagerBtn:active {
    opacity: 50%;
}

.activeSubredditsManagerBtn {
    background-color: #FEE;
}
.activeSubredditsManagerBtn svg {
    width: 70%;
    height: 70%;
    color: #005792;
}


/* SEARCH BUTTON *//* SEARCH BUTTON *//* SEARCH BUTTON *//* SEARCH BUTTON */
.searchBtn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: #005792;
    outline: none;
    border: none;
    margin-left: 30px;
}
.searchBtn svg {
    width: 100%;
    height: 100%;
    color: #FF6B6B;
    transition: all 0.2s ease-in;
}
@media (hover: hover) {
    .searchBtn svg:hover {
        color: #DAF6FB;
        transition: all 0.2s ease-in;
    }
}
.searchBtn svg:active {
    opacity: 50%;
}

.searchBtnPlaceholder {
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
}


/* CLOSE SEARCH BUTTON *//* CLOSE SEARCH BUTTON *//* CLOSE SEARCH BUTTON */
.closeSearchBtn {
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #005792;
    outline: none;
    border: none;
    margin-left: 30px;
}
.closeSearchBtn svg {
    width: 100%;
    height: 100%;
    color: #FF6B6B;
    transition: all 0.2s ease-in;
}
@media (hover: hover) {
    .closeSearchBtn svg:hover {
        color: #DAF6FB;
        transition: all 0.2s ease-in;
    }
}
.closeSearchBtn svg:active {
    opacity: 50%;
}






/* FORM *//* FORM */
/* FORM *//* FORM */
/* FORM *//* FORM */
/* FORM *//* FORM */
/* FORM *//* FORM */
/* FORM *//* FORM */

.searchRedditsForm {
    padding: 20px;
    width: 100%;
}

input[type="search"]:-webkit-autofill,
input[type="search"]:-webkit-autofill:hover,
input[type="search"]:-webkit-autofill:focus,
input[type="search"]:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; /* Change 'white' to your input's background color */
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important; /* Change to your desired text color */
}

.searchField {
    display: block;
    width: 90%;
    height: 40px;   
    border-radius: 20px;
    border: 1px solid #005792;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    color: black;
    margin: 0 auto;
    text-align: center;
    background-color: white;

}
.searchField::placeholder {
    font-size: 16px;
    text-align: center;
    color: #005792;
    margin-right: -10px;
}

















@media only screen and (max-width: 1230px) {
    #middleCon {
        width: 60%;
    }
}

@media only screen and (max-width: 940px) {

    #logo {
        width: 30px;
        height: 30px;
    }
    .mainLine {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0px;
    }
    .inactiveSubredditsManagerBtn,.activeSubredditsManagerBtn  {
        position: absolute;
        left: 8px;
        top: 10px;
        width: 30px;
        height: 30px;
        margin-left: 0px;
    }
    .searchBtn,.closeSearchBtn {
        position: absolute;
        right: 8px;
        top: 10px;
        width: 40px;
        height: 40px;
        margin-left: 0px;
    }
    .searchBtnPlaceholder {
        display: none;
    }
    #middleCon {
        width: 100%;
        padding-top: 12px;
        padding-bottom: 6px;
    }
    .searchField {
        height: 30px;
        width: 98%;
    }
    .searchField::placeholder {
        text-align: center;
    }
}

@media only screen and (max-width: 860px) {
    #logo {
        width: 40px;
        height: 40px;
    }
    h1 {
        font-size: 28px;
    }
    
    h1 span {
        font-size: 28px;
    }
    
}