* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}


.gb {
    border: 1px solid red;
} 

form {
    padding: 20px;
    width: 100%;
}


#searchField {
    display: block;
    width: 90%;
    height: 40px;   
    border-radius: 20px;
    border: none;
    font-size: 16px;
    cursor: auto;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    color: black;
    margin: 0 auto;

}
#searchField::placeholder {
    font-size: 16px;
    text-align: center;
}





@media only screen and (max-width: 560px) {
    #searchField {
        height: 30px;
        width: 98%;
        font-size: 12px;
    }
    #searchField::placeholder {
        font-size: 12px;
        text-align: center;
    }
    
}